FORMAT: 1A
HOST: http://www.google.com

# Identity API

Identity API is a service which manage users and its preferences.

# Group Authentication

Authentication resources

## Authentication [/identity/rest/auth/merge]
    
### Merge account with connected user [POST]

+ Merge an existing account (userA) with an another
+ If account (identity/secred) exist (userB), all userA accesses are moved to userB, userA is removed, only nicknames and data field are kept
+ Merge could only be done if userA doesn't have any identity/secret access
+ If no account exists with (identity/secret), identity/secret are merged in userA (except if userA have already an identity/secret access)
+ A user could not have more than on identity/secret access

+ Request (application/json)

    + Headers
    
            token: tokenid of userA
            
    + Body
    
            {
                "identity" : "identity@mail.com",
                "secret" : "12345678"
            }

+ Response 200 (application/json)

        {
            "id": 56,
            "nickname": "test",
            "avatar": "http://urlofavatar.com",
            "data" : "{'name':'jean','lastname':'blaguin'}",
            "serviceId": 1,
            "roleList":
            [
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            "credentialList":
            [
                {
                    "identity" : "deviceID",
                    "domain" : "DEVICE",
                    "secret": "",
                    "accessToken": null
                },
                {
                    "identity" : "identity@mail.com",
                    "domain" : "INTERNAL",
                    "connected" : true,
                    "secret": "",
                    "accessToken": null
                }    
            ]    
        }
        
## Authentication [/identity/rest/auth/subscribe]
    
### Subscribe and connect to the service [POST]

+ This verb will throw an error if nickname or credential already exist.
+ And if there is an error with the syntaxe of the data
+ A mandatory header 'X-SocialAPI-Service-Name' is required

+ Request (application/json)

    + Headers
    
            X-SocialAPI-Service-Name: name of the service

    + Body
    
            {
                "nickname" : "test",
                "avatar" : "http://urlofavatar.com",
                "data" : "{'name':'jean','lastname':'blaguin'}", 
                "identity" : "identity@mail.com",
                "password" : "12345678",
                "role": "ROLE_USER"
            }

+ Response 200 (application/json)

        {
            "id": 56,
            "nickname": "test",
            "avatar": "http://urlofavatar.com",
            "data" : "{'name':'jean','lastname':'blaguin'}",
            "serviceId": 1,
            "roleList":
            [
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            "credentialList":
            [
                {
                    "identity" : "identity@mail.com",
                    "domain" : "internal",
                    "connected" : true,
                    "id" : 57,
                    "userId" : 56,
                    "secret": "",
                    "accessToken": null
                }    
            ]    
        }

## Authentication [/identity/rest/auth/bydeviceid/{deviceId}]

+ Parameters

    + deviceId (required, string, `my-dummy-id`) ... String `deviceid` of the device which want to login.

### Connection with a device identifier [POST]

+ User is automatically created if not exists.
+ A mandatory header 'X-SocialAPI-Service-Name' is required

+ Request

    + Headers
    
            X-SocialAPI-Service-Name: name of the service

+ Response 200 (application/json)

        {
            "id": 57,
            "nickname": "idofthedevice",
            "avatar": null,
            "data" : "{'name':'jean','lastname':'blaguin'}",
            "serviceId": 1,
            "roleList":
            [
                "ROLE_USER"
            ],
            "token": "838f643b59b2fae6a0b18299a74945c3789fa2eb597c174808656da01863b410571dedd94c155d01",
            "tokenDate": 1387554190248,
            "credentialList":
            [
                {
                    "identity": "011554e6-2fe0-4e49-b2c1-468d12edff88",
                    "domain": "device",
                    "connected": true,
                    "id": 58,
                    "userId": 57,
                    "secret": "",
                    "accessToken": "idofthedevice"
                }
            ]
        }
        
## Login [/identity/rest/auth/logout]

### Logout from the service [GET]

+ Needs ROLE_USER

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {"result": "Logout with success"}
        
## Authentication [/identity/rest/auth/socialapicallback?accessToken={accessToken}&userId={userId}]

+ Parameters

    + accessToken (required, string, `my-wonderfulltoken`) ... `accessToken` of the user which want to login.
    + userId (required, int, `1`) ... `userId` of the user which want to login.

### Authenticate with socialAPI [GET]

+ This verb is only used by socialAPI. Do not use. Just for internal use.

+ Response 200 (application/json)

        {
            "id": 56,
            "nickname": "test",
            "avatar": "http://urlofavatar.com",
            "data" : "{'name':'jean','lastname':'blaguin'}",
            "serviceId": 1,
            "roleList":
            [
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            "credentialList":
            [
                {
                    "identity" : "identity@mail.com",
                    "domain" : "internal",
                    "connected" : true,
                    "id" : 57,
                    "userId" : 56,
                    "secret": "",
                    "accessToken": null
                }    
            ]    
        }
        
        
## Login [/identity/rest/auth/login]

### Log to the service [POST]

+ A mandatory header 'X-SocialAPI-Service-Name' is required
+ A Json object must be posted {username: "", password: ""}
+ The 'username' is the user internal credential 'identity' field

+ Request

    + Headers
    
            X-SocialAPI-Service-Name: name of the service
            
+ Response 200 (application/json)

        {
            "id": 56,
            "nickname": "test",
            "avatar": "http://urlofavatar.com",
            "data" : "{'name':'jean','lastname':'blaguin'}",
            "serviceId": 1,
            "roleList":
            [
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            "credentialList":
            [
                {
                    "identity" : "identity@mail.com",
                    "domain" : "internal",
                    "connected" : true,
                    "id" : 57,
                    "userId" : 56,
                    "secret": "",
                    "accessToken": null
                }    
            ]    
        }
        
# Group User

User resources

## Current user [/identity/rest/user]

### Create a user [POST]

+ Needs ROLE_ADMIN
+ This verb will throw an error if nickname already exist.
+ A mandatory header 'X-SocialAPI-Service-Name' is required

+ Request (application/json)

    + Headers
    
            X-SocialAPI-Service-Name: name of the service
            token: the token of currently connected user

    + Body
    
            {
                "nickname" : "test",
                "avatar" : "http://urlofavatar.com",
                "data" : "{'name':'jean','lastname':'blaguin'}",
                "identity" : "identity@mail.com",
                "password" : "12345678"
            }

+ Response 200 (application/json)

        {
            "id": 56,
            "nickname": "test",
            "avatar": "http://urlofavatar.com",
            "data" : "{'name':'jean','lastname':'blaguin'}",
            "serviceId": 1,
            "roleList":
            [
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            "credentialList":
            [
                {
                    "identity" : "identity@mail.com",
                    "domain" : "internal",
                    "connected" : true,
                    "id" : 57,
                    "userId" : 56,
                    "secret": "",
                    "accessToken": null
                }    
            ]    
        }

### Get the current connected user [GET]

+ Request

    + Headers
    
            token: the token of currently connected user

+ Response 200 (application/json)

        {
            "id": 56,
            "nickname": "test",
            "avatar": "http://urlofavatar.com",
            "data" : "{'name':'jean','lastname':'blaguin'}",
            "serviceId": 1,
            "roleList":
            [
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            "credentialList":
            [
                {
                    "identity" : "identity@mail.com",
                    "domain" : "internal",
                    "connected" : true,
                    "id" : 57,
                    "userId" : 56,
                    "secret": "",
                    "accessToken": null
                }    
            ]    
        }


### Update the current connected user [PUT]

+ If nickname is changed, token is changed

+ Request (application/json)

    + Headers
    
            token: the token of currently connected user
            
    + Body
    
            {
                "id": "1"
                "nickname": "foobar",
                "data": "my data"
            }
            
+ Response 200 (application/json)

        {
            id: 1,
            nickname: "foobar",
            "data": "my data",
            roleList:[
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            credentialList: [
                {
                    identity: "identity@mail.com",
                    domain: "internal",
                    connected: true
                },
                {
                    identity: "mydummyguididentity",
                    domain: "device",
                    connected: false
                }
            ]
        }
        
## Current user data [/identity/rest/user/data]

### Retreive user data [GET]

+ Retreive user data (hashmap)

+ Request

    + Headers
    
            token: the token of currently connected user
          
+ Response 200 (application/json)

        {
            "firstname": "Juan",
            "lastname": "Maria",
            "avatar": "http://urltomyavatar.com/image.jpg"
        }
        
### Update user data [PUT]

+ Update user data.
+ All existing data is kept. New data is merged with existing one.

+ Request (application/json)

    + Headers
    
            token: the token of currently connected user

    + Body
    
            {
                "firstname": "Juan",
                "lastname": "Maria",
                "avatar": "http://urltomyavatar.com/image.jpg"
            }
    
+ Response 200 (application/json)

        {
            "firstname": "Juan",
            "lastname": "Maria",
            "avatar": "http://urltomyavatar.com/image.jpg"
        }
        
## Single User by its id [/identity/rest/user/{user_id}]

+ Parameters

    + user_id (required, number, `1`) ... Number `id` of the user.

### Retreive single user [GET]

+ Needs ROLE_ADMIN could retreive any user but ROLE_USER could only get its own (or use /identity/rest/user verb).

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {
            id: 1,
            nickname: "testaccount",
            roleList: [
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            credentialList: [
                {
                    identity: "identity@mail.com",
                    domain: "internal",
                    connected: true
                },
                {
                    identity: "mydummyguididentity",
                    domain: "device",
                    connected: false
                }
            ]
        }

### Update a user [PUT]

+ ROLE_ADMIN could update any user but ROLE_USER could only update its own.
+ If nickname is changed, token is changed

+ Request (application/json)

    + Headers
    
            token: the token of currently connected user
            
    + Body
    
            {
                "id": "1"
                "nickname": "foobar",
                "data": "my data"
            }
            
+ Response 200 (application/json)

        {
            id: 1,
            nickname: "foobar",
            "data": "my data",
            roleList:[
                "ROLE_USER"
            ],
            "token": "3bfb25b7a9c40e895b7121c30fdfbaded84fbf5f12b88788839b4011c8ca3ee189abe5aa4b82d92c",
            "tokenDate": 1387553949708,
            credentialList: [
                {
                    identity: "identity@mail.com",
                    domain: "internal",
                    connected: true
                },
                {
                    identity: "mydummyguididentity",
                    domain: "device",
                    connected: false
                }
            ]
        }
        
### Delete single user [DELETE]

+ Needs ROLE_ADMIN

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {
            "result" : "User Deleted"
        }
        

## User List [/identity/rest/user/list?offset=0&count=5]

+ Parameters

    + offset (required, number, `0`) ... First element of the list
    + count (required, number, `5`) ... Number of element for the list

### Retreive user list [GET]

+ Needs ROLE_ADMIN

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {
            "data": 
                [
                    {
                        id: 1,
                        nickname: "testaccount",
                        roleList: [
                            "ROLE_USER"
                        ],
                        credentialList: [
                            {
                                identity: "identity@mail.com",
                                domain: "internal",
                                connected: true
                            },
                            {
                                identity: "mydummyguididentity",
                                domain: "device",
                                connected: false
                            }
                        ]
                    },
                    {
                        id: 2,
                        nickname: "fdsfds",
                        roleList: [
                            "ROLE_USER"
                        ],
                        credentialList: [
                            {
                                identity: "identity@mail.com",
                                domain: "internal",
                                connected: true
                            }
                        ]
                    }
                ],
            "nbElt": 2,
            "offset": 0,
            "nbTotal": 2
        }


## User List [/identity/rest/user/resetPassword/{identity}]

+ Parameters

    + identity (required, string, `identity@mail.com`) ... Identity who wants reset his password (for INTERNAL credential)

### Reset password [GET]

+ This will reset the password of the user and send it on his identity (email) 
+ A mandatory header 'X-SocialAPI-Service-Name' is required

+ Request

    + Headers
    
            X-SocialAPI-Service-Name: name of the service


+ Response 200 (application/json)

        {
            "result": "Email sent"
        }

## Single User by nickname [/identity/rest/user/bynickname/{nickname}]

+ Parameters

    + nickname (required, string, `my-nickname`) ... String `nickname` of the user.

### Retrieve single user by his nickname [GET]

+ Needs ROLE_USER
+ Search is strict

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {
            id: 1,
            nickname: "testaccount",
            roleList: [
                "ROLE_USER"
            ],
            credentialList: [
                {
                    identity: "identity@mail.com",
                    domain: "internal",
                    connected: true
                },
                {
                    identity: "mydummyguididentity",
                    domain: "device",
                    connected: false
                }
            ]
        }
       
## All users by nickname [/identity/rest/user/bynickname/{nickname}/list?offset=0&count=5]

+ Parameters

    + nickname (required, string, `my-nickname`) ... String `nickname` of the user.
    + offset (required, number, `0`) ... First element of the list
    + count (required, number, `5`) ... Number of element for the list

### Retrieve single user by his nickname [GET]

+ Needs ROLE_USER
+ Also return users that nickname begin with 'nickname'.

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {
            "data":
            [
                {
                    id: 1,
                    nickname: "testaccount",
                    roleList: [
                        "ROLE_USER"
                    ],
                    credentialList: [
                        {
                            identity: "identity@mail.com",
                            domain: "internal",
                            connected: true
                        },
                        {
                            identity: "mydummyguididentity",
                            domain: "device",
                            connected: false
                        }
                    ]
                },
        
                {
                    id: 2,
                    nickname: "testaccountdummy",
                    roleList: [
                        "ROLE_USER"
                    ],
                    credentialList: [
                        {
                            identity: "identity",
                            domain: "device",
                            connected: false
                        }
                    ]
                }
            ],
            "nbElt" : 1,
            "offset" : 0,
            "nbTotal" : 2
        }

## User role [/identity/rest/user/{user_id}/role/{role_id}]

+ Parameters

    + user_id (required, number, `1`) ... Number `id` of the user.
    + role_id (required, string, `ROLE_USER`) ... Role of the user.

### Set the role for a user [POST]

+ If ROLE_ADMIN is added, ROLE_USER is added too.
+ If a lower role is set, all higher roles are deleted.
+ If user has already at the role {role_id} no error is thrown.
+ Needs ROLE_ADMIN to use this verb.

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {
            "result": "Role changed"
        }

## User internal credential [/identity/rest/user/{user_id}/credential/internal]

+ Parameters

    + user_id (required, number, `1`) ... Number `id` of the user.
    
### Create internal credential [POST]

+ Add internal credential to this user

+ Request (application/json)

    + Headers
    
            token: the token of currently connected user
    + Body
    
            {
                "identity": "identity@mail.com"
                "secret": "123"
            }
            
+ Response 200 (application/json)

            {
                id: 1,
                nickname: "admin",
                roleList: [
                    "ROLE_ADMIN"
                ],
                credentialList: [
                    {
                        identity: "identity@mail.com",
                        domain: "internal",
                        connected: false
                    }
                ]
            }

### Update internal credential [PUT]

+ Update the internal credential of this user

+ Request (application/json)

    + Headers
    
            token: the token of currently connected user
    + Body
    
            {
                "identity": "identity@mail.com"
                "secret": "123"
            }
            
+ Response 200 (application/json)

            {
                id: 1,
                nickname: "admin",
                roleList: [
                    "ROLE_ADMIN"
                ],
                credentialList: [
                    {
                        identity: "identity@mail.com",
                        domain: "internal",
                        connected: false
                    }
                ]
            }


## User credential [/identity/rest/user/{user_id}/credential?domain={domain}&identity={identity}]

+ Parameters

    + user_id (required, number, `1`) ... Number `id` of the user.
    + domain (required, string, `internal`) ... Domain of the credential
    + identity (required, string, `identity@mail.com`) ... Identity of the credential

### Delete the credential [DELETE]

+ Needs ROLE_ADMIN

+ Request

    + Headers
    
            token: the token of currently connected user
            
+ Response 200 (application/json)

        {
            "result": "Credential deleted"
        }
